*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  /*////////////INDEX///////////////*/
  body { 
      background-image: url('fondo2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed
  }
  header {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 2rem;
    background-color: #ececec;
    opacity: 0.5;
  }
  h1 { 
      color: red; padding: 60px; 
  }
  h2 { 
      color: gainsboro; padding: 60px; 
  }
  .abrir-menu{
    display: none;
  }
  .cerrar-menu{
    display: none;
  }
  .nav-list{
    flex-direction: column;
    align-items: end;
  }
  .nav-list li a{
    color: #ececec;
  }
  footer {
    display: block;
  }
  /*////////////FORMULARIO DE CONTACTO///////////////*/
  .contact-form {
      max-width: 400px;
      margin: 0 auto;
  }
  
  .contact-form label,
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
      display: block;
      width: 100%;
      margin-bottom: 10px;
  }
  
  .contact-form button {
      width: auto;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
  }
  
  .contact-form button:hover {
  background-color: #45a049;
  }
  h2:hover{
  background-color: #45a049;
  }
  .contact-form h2{
  text-align: center;
  }
  .contact-form label {
  color: grey;
  }
    /*////////////////IMAGENES///////////////*/
    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 columnas de ancho igual */
      grid-gap: 10px; /* Espacio entre las imágenes */
      padding: 1%;
    }
    
    .image {
      width: 100%;
      height: 0;
      padding-bottom: 100%; /* Hace que el contenedor sea cuadrado */
      position: relative;
      overflow: hidden;
    }
    
    .image img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
    }
  /*////////////////PERSONAJES///////////////*/
  body article p {
      color: aqua;
  }
  /*//////////////////VIDEO//////////////////*/
  #video-container {
      width: 100%;
      max-width: 800px;
    }
    
    video {
      width: 100%;
      height: auto;
    }
  
  @media (max-width: 580px) {
    body { 
      background-image: url('imagenes/fondo_mobile.webp');
      background-size: cover; 
      background-repeat: no-repeat;
      background-attachment: fixed
      
  }
    
    .gallery {
      /* display: grid; */
      grid-template-columns: repeat(1, 1fr); /* 3 columnas de ancho igual */
      /* grid-gap: 1px; Espacio entre las imágenes */
    }
  
    .abrir-menu{
      display: block;
    }
    .cerrar-menu{
      display: block;
    }
    .nav{
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
      opacity: 0.5;
    }
    .nav.visible{
      opacity: 1;
      visibility: visible;
    }
    .nav-list{
      flex-direction: column;
      align-items: end;
    }
    .nav-list li a{
      color: #ececec;
    }
  }