*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Century, sans-serif;
  }
  /*////////////INDEX///////////////*/
  body { 
      background-image: url('imagenes/WEBverdeoscuro.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed
  }
  h3{
    color: #0c4646;
    font-family:Century;
  }
  .content{
    min-height: 75%;
  }
  .content h1 {
    text-align: center;
    font-size: 40px;
  }
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 0.5rem;
    background-color: #ececec;
    opacity: 0.5;
  }
  footer div {
    justify-content: space-between;
  }
  footer p {
    font-size: small;
  }
  .logos{
    max-width: 2rem;
  }
  .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  .menu iframe {
    width: 50%;
  }
  .menu p{
    width: 50%;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 2%;
    border-radius: 5px;
    color: gainsboro;
    background-color: rgba(236, 236, 236, 0.1);
  }
  .content::after {
    content: "";
    display: block;
    height: 50px;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #ececec;
    opacity: 0.5;
  }
  .logo{
    max-width: 6rem;
    border-radius: 20px;
  }
  .content-h1 { 
      color: gainsboro; 
      font-size: 40px;
      padding: 30px; 
  }
  .content-h1-img {
    color: gainsboro; 
    font-size: 40px;
    padding: 30px; 
  }
  .content-h1-img {
    height: 30%;
  }
  h1{
    color: gainsboro;
  }
  h1:hover{
    background-color: rgba(236, 236, 236, 0.1);
  }
  h2 { 
      color: gainsboro;
      font-size: 30px;
      padding: 30px; 
  }

  .nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  .nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
  }
  .abrir-menu,
  .cerrar-menu {
      display: none;
  }
  /*////////////FORMULARIO DE CONTACTO///////////////*/
  .contact-form {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 5%;
  }
  
  .contact-form label,
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
      display: block;
      width: 100%;
      margin-bottom: 1.5%;
  }
  
  .contact-form button {
      width: auto;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: gainsboro;
      border-radius: 5px;
      border: none;
      cursor: pointer;
  }
  
  .contact-form button:hover {
  background-color: #45a049;
  }
  #h2-form{
    background-color: rgba(236, 236, 236, 0.1);
    border-radius: 5px;
  }
  #h2-imagenes:hover{
    color: white;
    background-color: rgba(236, 236, 236, 0.1);
  }
  .contact-form h2{
  text-align: center;
  }
  .contact-form label {
  color: gainsboro;
  }
    /*////////////////IMAGENES///////////////*/
    .galeria {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px; 
      padding: 1%;
    }
    .galeria2 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 300px;
      grid-gap: 10px;
      padding: 1%;
    }
    .example-image2 {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .image {
      width: 100%;
      height: 0;
      padding-bottom: 100%; 
      position: relative;
      overflow: hidden;
    }
    
    .image img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  /*////////////////PERSONAJES///////////////*/
  body article p {
      color: gainsboro;
  }
  body article section p {
    color: gainsboro;
  }
  /*/////////////////TRAILERS//////////////////*/
  .trailer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-trialers {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 4%;
    justify-content: center;
  }
  .menu-trialers > div {
    text-align: center;
    margin: 20px;
  }
  .menu-trialers div h3 {
    width: 40%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2%;
    margin: 30px;
    border-radius: 5px;
    color: gainsboro;
    background-color: rgba(236, 236, 236, 0.1);
  }
  /*///////////////////PERSONAJES/////////////*/
  .menu-personajes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
    justify-content: center;
  }
  .menu-personajes img {
    width: 50%;
  }
  .menu-personajes p {
    width: 50%;
    text-align: left;
    background-color: rgba(236, 236, 236, 0.1);
    border-radius: 5px;
  }
  .parrafo1 {
    text-align: center;
  }
  .menu-fandom h3{
    align-items: end;
  }
  .boton{
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
    margin: 5%;
    border: none;
    border-radius: 5px;
    margin-bottom: 1.5%;
    color: gainsboro;
    background-color: rgba(236, 236, 236, 0.1);
  }
  .boton a {
    color: white;
    text-decoration: none;
  }

  @media (max-width: 480px) {
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Century, sans-serif;
    }
    body { 
      background-image: url('imagenes/Mobile.png');
      background-size: cover; 
      background-repeat: no-repeat;
      background-attachment: fixed
      
    }
    body article p {
      color: #ececec;
    }
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;
      background-color: #ececec;
      opacity: 0.5;
    }
    .content-h1,
    .content-h1-img {
      color: gainsboro; 
      font-size: 20px;
      padding: 30px; 
    }
    .content-h1-img {
      height: 30%;
    }
    h2 { 
      color: gainsboro;
      font-size: 15px;
      padding: 30px; 
    }
    footer {
      width: 100%;
    }
    .galeria {
      grid-template-columns: repeat(2, 1fr);
    }
    .galeria2 {
      display: flex;
    }
    .menu{
      width: 100%;
      flex-direction: column;
    }
    .menu iframe {
      width: 100%;
    }
    .menu p{
      width: 100%;
      font-size: 1rem;
      margin-bottom: 2%;
      margin-top: 5%;
      border-radius: 5px;
      color: gainsboro;
      background-color: rgba(236, 236, 236, 0.1);
    }
    .contact-form {
      max-width: none;
      width: 100%;
      margin: 0 auto;
      margin-top: 5%;
    }
    .abrir-menu,
    .cerrar-menu {
      display: block;
      border: 0;
      margin-top: 1.5rem;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
    }
    .abrir-menu {
        margin-top: 1rem;
        margin-right: 1.5rem;
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }
    .nav{
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .nav.visible {
      opacity: 1;
      visibility: visible;
    }
    .nav-list{
      flex-direction: column;
      align-items: end;
    }
    .nav-list li a{
      color: #ececec;
    }
    .menu-trialers {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 4%;
      justify-content: center;
    }
    .menu-trialers div h3 {
      width: 40%;
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 2%;
      margin: 30px;
      border-radius: 5px;
      color: gainsboro;
      background-color: rgba(236, 236, 236, 0.1);
    }
    .boton{
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
      margin: 5%;
      border: none;
      border-radius: 5px;
      margin-bottom: 1.5%;
      color: gainsboro;
      background-color: rgba(236, 236, 236, 0.1);
    }
    .menu-personajes{
      display: flex;
      flex-direction: column;
    }
  }