*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Century, sans-serif;
  }
  /*////////////INDEX///////////////*/
  body { 
      background-image: url('imagenes/WEBverdeoscuro.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed
  }
  h3{color: #0c4646;
  font-family:Century;
}
  .content{
    min-height: 75%;
  }
  footer {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: #ececec;
    opacity: 0.5;
  }
  .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .menu iframe {
    width: 50%; 
  }
  .menu p:hover{
    color: white;
    background-color: rgba(236, 236, 236, 0.1);
  }
  .content::after {
    content: "";
    display: block;
    height: 50px;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #ececec;
    opacity: 0.5;
  }
  .logo{
    max-width: 6rem;
    border-radius: 20px;
  }
  h1 { 
      color: gainsboro; 
      font-size: 40px;
      padding: 30px; 
  }
  h1:hover{
    color: gainsboro;
    background-color: rgba(236, 236, 236, 0.1);
  }
  h2 { 
      color: gainsboro;
      font-size: 30px;
      padding: 30px; 
  }

  .nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  .nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
  }
  .abrir-menu,
  .cerrar-menu {
      display: none;
  }
  .logos{
    max-width: 3rem;
    margin-right: 2rem;
  }
  /*////////////FORMULARIO DE CONTACTO///////////////*/
  .contact-form {
      max-width: 400px;
      margin: 0 auto;
  }
  
  .contact-form label,
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
      display: block;
      width: 100%;
      margin-bottom: 10px;
  }
  
  .contact-form button {
      width: auto;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
  }
  
  .contact-form button:hover {
  background-color: #45a049;
  }
  #h2-form:hover{
  background-color: #45a049;
  }
  #h2-imagenes:hover{
    color: white;
    background-color: rgba(236, 236, 236, 0.1);
    }
  .contact-form h2{
  text-align: center;
  }
  .contact-form label {
  color: grey;
  }
    /*////////////////IMAGENES///////////////*/
    .gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px; 
      padding: 1%;
    }
    .gallery2 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 300px;
      grid-gap: 10px;
      padding: 1%;
    }
    .example-image2 {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .image {
      width: 100%;
      height: 0;
      padding-bottom: 100%; 
      position: relative;
      overflow: hidden;
    }
    
    .image img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  /*////////////////PERSONAJES///////////////*/
  body article p {
      color: gainsboro;
  }
  /*/////////////////TRAILERS//////////////////*/
  .trailer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-trialers {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 4%;
  }
  .menu-trialers > div {
    text-align: center;
    margin: 20px;
  }
  .menu-trialers div h3 {
    width: 40%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2%;
    margin: 30px;
    border-radius: 5px;
    color: gainsboro;
    background-color: rgba(236, 236, 236, 0.1);
  }
  @media (max-width: 480px) {
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Century, sans-serif;
    }
    body { 
      background-image: url('imagenes/Mobile.png');
      background-size: cover; 
      background-repeat: no-repeat;
      background-attachment: fixed
      
    }
    body article p {
      color: #ececec;
    }
    h1 { 
      color: #1c1c1c; padding: 60px; 
    }
    h2 { 
        color: #1c1c1c; padding: 60px; 
    }
    .gallery {
      /* display: grid; */
      grid-template-columns: repeat(2, 1fr); /* 3 columnas de ancho igual */
      /* grid-gap: 1px; Espacio entre las imágenes */
    }
    .menu{
      flex-direction: column;
    }
    .menu p:hover{
      color: #1c1c1c;
      background-color: transparent;
    }
    .abrir-menu,
    .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
    }
    .abrir-menu {
        margin-top: 1rem;
        margin-right: 1.5rem;
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }
    .nav{
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .nav.visible {
      opacity: 1;
      visibility: visible;
    }
    .nav-list{
      flex-direction: column;
      align-items: end;
    }
    .nav-list li a{
      color: #ececec;
    }
  }